/*
LESS Variables
Author: sanographix
*/

@bg: #f8f8f8; /* Background color */
@base: #555555; /* Base text color */
@link: #555555;
@border: #dddddd;
@light: #999999; /* light text color */


@btn: #f5f5f5; /* Button Color */
@blue: #398fbb; /* Blue color(for Background) */
@dark: #333333; /* dark background color */