<% var
pageTitle = "Solo - 「考え事を綴る」ためのTumblrテーマ";
pageId = "index";
pageUrl = "";
pageDescription = "Soloは、「考え事を綴る」ためのTumblrテーマです。";
%>
<% include _header %>

<div class="globalheader">
  <div class="l-container">
    <div class="navbar-wrapper">
      <div class="nav-left">
        <a class="navbar-brand" href="/tumblr/solo/">SOLO</a>
        <a href="/tumblr/">
          <small>Tumblr Theme by sanographix</small>
        </a>
      </div>
      <ul class="nav-right">
        <li id="socialarea_twitter">
          <a href="https://twitter.com/share?text=<%= pageTitle %>&amp;url=<%= siteRootUrl %>" class="btn btn-tw" onclick="ga('send', 'event', 'share-twitter', 'Click', 'navbar');" target="_blank">
            <img src="http://static.tumblr.com/xlsgtjb/mmZndl3sh/twitter.svg" width="14px">
            <span class="label">Tweet</span>
          </a>
        </li>
        <li id="socialarea_facebook">
          <a href="http://www.facebook.com/sharer.php?u=<%= siteRootUrl %>" class="btn btn-fb" onclick="ga('send', 'event', 'share-facebook', 'Click', 'navbar');" target="_blank">
            <img src="http://static.tumblr.com/xlsgtjb/dB1ndl3rn/facebook.svg" width="14px">
            <span class="label">Share</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<section class="l-hero">
  <div class="l-container l-hero-inner">
    <h2 class="title header-en">SOLO</h2>
    <p>A THEME FOR DISTRACTION-FREE WRITING</p>
  </div>
  <div class="l-header-arrow">
    SCROLL DOWN
    <a href="#intro"><div class="header-arrow"></div></a>
  </div>
</section>

<section class="l-intro l-section section-gray" id="intro">
  <div class="l-container">
    <header class="section-header">
    <h1>あなたの言葉が<span style="margin-right:-.4em;">、</span><br class="touch">誰かの力になる<span style="margin-right:-.4em;">。</span></h1>
      <p>Soloは<span style="margin-right:-.5em;">、</span>「考え事を綴る」ためのTumblrテーマです。</p>
    </header>
    <p class="p-intro">誰かのブログを読んだのがきっかけで、新しい趣味を始めたり、勇気づけられたりしたことはありませんか。</p>
    <p class="p-intro">Soloは、そんなブログ体験を増やすために設計しました。</p>
    <p class="p-intro">あなたの考え、気持ち、悩み、アイデア、研究、その他、伝えたいと思うことを綴ってください。</p>
    <p class="p-intro">あなたの言葉が、巡り巡って誰かの心を動かし、誰かの力になります。……いつどこでそうなるかは分かりませんが。</p>
    <p class="p-intro">自分と向き合い、表現しよう。</p>

    <div class="ss-wrapper">
      <p class="notice">雰囲気の異なる2書体を選択可能。</p>
      <ul class="ss-selector">
        <li class="js-selector-gothic is-active">ゴシック体モード</li>
        <li class="js-selector-micho">明朝体モード</li>
      </ul>
      <div class="ss">
        <div class="ss-image js-ss-gothic is-active">
          <img src="build/images/ss-gothic.png">
        </div>
        <div class="ss-image js-ss-mincho">
          <img src="build/images/ss-mincho.png">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-features l-section">
  <div class="l-container">
    <div class="l-row">
      <div class="l-span4">
        <img src="build/images/screenshot3.png" class="features-ss">
        <p>想いを表現しよう。削ぎに削いだデザインによって、あなたの文章がより引き立ちます</p>
      </div>
      <div class="l-span4">
        <img src="build/images/screenshot2.png" class="features-ss">
        <p>トップページの表示方法を切替可能。シンプルモードにすると更にミニマルな表示に</p>
      </div>
      <div class="l-span4">
        <img src="build/images/screenshot4.png" class="features-ss">
        <p>アクセントカラーを設定して、リンク色などをカスタマイズしよう</p>
      </div>
    </div>
  </div>
</section>

<section class="l-download l-section section-gray">
  <div class="l-container">
    <header class="section-header">
      <h2 class="header-en">TRY IT NOW</h2>
    </header>
    <a href="https://www.tumblr.com/theme/40241" class="btn btn-primary btn-large">INSTALL SOLO</a>
    <p class="notice">インストールにはTumblrアカウントが必要です。
    </p>
  </div>
</section>

<section class=" l-section l-getmorethemes">
  <div class="l-container">
    <header class="section-header">
      <h2 class="header-en">GET MORE THEMES</h2>
      <p>SANOGRAPHIX作のテーマのリンク集</p>
    </header>
    <div class="l-row">
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/illustfolio3/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-illustfolio3.jpg">
          <div class="caption">
            <h4>Illustfolio 3</h4>
            <p>イラストポートフォリオサイトが一瞬で作れるTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/apollo/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-apollo.jpg">
          <div class="caption">
            <h4>Apollo</h4>
            <p>穏やかに日記を書きたい人のためのTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/zen/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-zen.jpg">
          <div class="caption">
            <h4>ZEN 2.0</h4>
            <p>普通に日記を書く用途にこだわったTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/tokusetsu2/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-tokusetsu2.jpg">
          <div class="caption">
            <h4>Tokusetsu 2</h4>
            <p>同人音楽CD特設サイトが一瞬で作れるTumblrテーマ</p>
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center">
      <a href="http://sanographix.github.com/tumblr/" class="btn">Get more themes</a>
    </div>
  </div>
</section>

  <footer class="section footer section-gray">
    <div class="container">
      <p>
        このサイトは、「考え事を綴る」ための無料Tumblrテーマ『Solo』の紹介ページです。
      </p>
      <div class="follow-button">
        <span class="follow-tw">
          <a href="https://twitter.com/sanographix" class="twitter-follow-button" data-show-count="false" data-lang="ja">@sanographixさんをフォロー</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>
      </div>
      <p>
        <a href="http://sanographix.github.io/tumblr/solo/" target="_blank">Solo</a> theme designed by <a href="http://www.sanographix.net/" target="_blank">SANOGRAPHIX.NET</a>
        /
        Code licensed under MIT License.
        <br>
        <a href="http://twitter.com/sanographix">Twitter</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://facebook.com/sanographix.net">Facebook</a>
      </p>
    </div>
  </footer>

<% include _footer %>