/*
LESS Variables
*/

@bg: #f5f5f5; /* Background color */
@border: #ddd; /* Border color */
@base: #4a4a4a; /* Base text color */
@light: #999; /* Light text color */
@link: #369ecf; /* Link text color */
@hover: #036fa1; /* Link text color(hover) */
@footer-bg: #484d4d; /* Footer background color */
@footer: #ddd; /* Footer text color */
@selection: #8dd8d4; /* Text highlighted color */