.compare-section-header {
    text-align: center;
}
.compare-table {
    max-width: 780px;
    margin-inline: auto;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
    width: 100%;
    h3 {
        margin: 12px 0 4px;
    }
    th,td {
        text-align: center;
        padding: 16px 8px;
        border: none;
    }
    th {
        font-weight: normal;
        vertical-align: top;
        border-bottom: 2px solid @border;
    }
    td {
        font-size: 14px;
        border-top: 1px solid @border;
    }
    .cellHeader {
        font-weight: bold;
    }
    .compare-thumb {
        display: block;
        height: auto;
        width: 100%;
    }
    .small {
        font-size: 13px;
        margin: 0;
    }
    .has-checked {
        color: #63b874;
    }
}
.compare-table-header {
    text-align: center;
    display: grid;
    gap: 8px;
    .compare-header-heading {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        letter-spacing: normal;
    }
    p {
        margin: 0;
        font-size: 14px;
    }
}
.compare-detail-current {
    font-size: 14px;
    color: @light;
}
.compare-detail-btn {
    background-color: @btn-primary;
    color: #fff;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 1000px;
    line-height: 1.2;
    text-decoration: none;
    transition: all .3s;
    &:hover {
        background-color: @link;
        color: #fff;
        text-decoration: none;
    }
}
.compare-table-note {
    margin-top: 32px;
    text-align: center;
}
