@import "_bootstrap.min.less";
@import "_font-awesome.min.less";
@import "_variable.less";
@import "_mixin.less";

body {
    font-family: 'Source Sans Pro','Helvetica Neue',sans-serif;
    color: @base;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro','Helvetica Neue',sans-serif;
    color: @red;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 .1em 0;
}

hr.soften {
    height: 1px;
    margin: 40px 0;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    border: 0;
}

a {
    color: @red;
    &:hover {
        color: @red-hover;
    }
}

.section {
    padding: 40px 0;
    &.red-bg {
        background-color: #f5e9eb;
    }
    img {
        max-width: 100%;
    }
}

.label-info {
    background-color: #74c1b2;
    font-size: 12px;
}

.mobile-br {
    display: none;
}

.btn-lg {
    border-radius: 0;
}

.btn-primary {
    border: none;
    background: @red;
    padding: 15px 35px;
    font-size: 160%;
    &:hover {
        background: @red-darker;
    }
}

.btn.btn-tw {
    color: #fff !important;
    background-color: @btn-tw;
    border-color: transparent;
    border-radius: .2em;
    &:hover {
        background-color: darken(@btn-tw, 8%) !important;
        color: #fff;
    }
}

.btn.btn-fb {
    color: #fff !important;
    background-color: @btn-fb;
    border-color: transparent;
    border-radius: .2em;
    &:hover {
        background-color: darken(@btn-fb, 8%) !important;
        color: #fff;
    }
}

.btn.btn-b {
    color: #fff !important;
    background-color: @btn-b;
    border-color: transparent;
    border-radius: .2em;
    &:hover {
        background-color: darken(@btn-b, 8%) !important;
        color: #fff;
    }
}


.clearfix {
    display: block;
    *zoom: 1;
    &:after {
        display: block;
        visibility: hidden;
        font-size: 0;
        height: 0;
        clear: both;
        content: ".";
    }
}

// header

// header

.header-nav {
    padding: 10px 0;
    background: @red-darkest;
    width: 100%;
    .clearfix;

    .brand {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        padding: 5px 15px 5px 0;
    }

    .header-nav-left {
        float: left;
    }

    .header-nav-right {
        float: right;
    }

}

.navbar-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
        display: inline-block;

        a {
            display: inline-block;
        }
    }
}

#header {
    color: #fff;
    padding: 20px 0;
    background: @red url('../images/header-bg@2x.gif') repeat center top;
    background-size: 1400px auto;
    text-align: center;

    h1,h2,h3,h4,h5,h6,a {
        color: #fff;
    }

    .introducing {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .5em;
    }

    h1 {
        font-size: 400%;
        font-weight: 200;
        line-height: 1;
        margin: 0;
    }

    h2 {
        font-size: 100%;
    }

    .btn-wrapper {
        margin: 10px 0;
    }

    .btn-primary {
        background-color: @red-darkest;
        &:hover {
            background: @red-darker;
        }
    }

}

#social-button-section {
    background: @bg-light;
    padding: 20px 0;
}

.social-buttons {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        padding: 10px 5px 10px;
        height: 20px;
    }
}


// features

#main-features {
    overflow: hidden;

    .introduction {
        text-align: center;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
    }

    .features-element {
        margin-bottom: 40px;
        margin-left: 70px;
        position: relative;
        .clearfix;
        &:first-child {
            margin-top: 20px;
        }
        &.last-child {
            margin-bottom: 20px;
        }
        img {
            position: absolute;
            top: 0;
            left: -70px;
            width: 50px;
        }
    }
    .demopage {
    }
}

// sub-features

#sub-features {

    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 110%;
        letter-spacing: .5em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .features-element {
        margin-left: 60px;
        margin-bottom: 20px;
        position: relative;
        .clearfix;
        img {
            position: absolute;
            top: 0;
            left: -60px;
            width: 40px;
        }
    }
}

// saying
#saying {
    .row {
        text-align: left;
    }

    blockquote p {
        font-size: 110%;
        line-height: 1.7;
    }
}

// case
.case {
    .case-row {
        margin-top: 2em;
    }
    .row > div {
        margin-bottom: 2em;
        text-align: center;
        a {
            color: @base;
            img {
                -webkit-transition: all .2s;
                transition: all .2s;
            }
            &:hover {
                color: @red-hover;
                img {
                    box-shadow: 0 5px 10px rgba(0,0,0,.3);
                }
            }
        }
        span {
            display: inline-block;
            padding-top: .5em;
            line-height: 1.5;
            height: 3.5em;
        }
    }
}


// getstart

#getstarted,
#getmorethemes,
#saying,
#case {
    text-align: center;
    h2 {
        font-weight: 200;
    }
}

.follow-button {
    text-align: center;
    margin: 1.5em 0;
    .follow-tw,
    .follow-google {
        display: inline-block;
        padding: .5em 0;
    }

    .follow-tw {
        margin-right: 1em;
    }
}

div.likebox-container .fbcomments,
div.likebox-container .fb_iframe_widget,
div.likebox-container .fb_iframe_widget[style],
div.likebox-container .fb_iframe_widget iframe[style],
div.likebox-container .fbcomments iframe[style],
div.likebox-container .fb_iframe_widget span{
    width: 100% !important;
}

// getmorethemes

#getmorethemes {
    background: #f1f3f8;
}

.thumbnail {
    text-align: left;
    p {
        margin-bottom: 0;
        color: #555;
        font-size: 90%;
    }
}

/* footer */

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.ad {
    text-align: center;
    margin: 1em 0 0;
}

#footer {
    background-color: #f7f8fb;
    text-align: center;
    font-size: 90%;
    border-top: 1px solid #eaeaea;
    padding-top: 30px;
    padding-bottom: 30px;
    p {
        color: #aaa;

        a {
            color: #555;
        }
    }
}

// c85

.c85 {
    text-align: center;

    img {
        max-width: 100%;
        margin-bottom: 20px;
    }
}


@import "_media-queries.less";

// tokusetsu3-banner

.t3-banner {
    text-align: center;
    background: rgb(216, 27, 96) url(../images/t3-hero-bg.svg) center center;
    background-size: calc(380px + 58px) calc(380px + 58px);
    animation: sqmove-sm 20s linear infinite;
    padding: 1.5em 0;
    * {
        color: #fff;
    }
    .t3-banner-inner {
        margin-left: 10px;
        margin-right: 10px;
    }
    .t3-banner-h2 {
        font-size: 110%;
        margin-bottom: .5em;
    }
    .btn {
        background-color: transparent;
        border: 2px solid #fff;
    }
}

@keyframes sqmove-sm {
    0% {
        background-position: center calc(380px + 58px);
    }
    100% {
        background-position: center 0;
    }
}

@keyframes sqmove-md {
    0% {
        background-position: center calc(500px + 58px);
    }
    100% {
        background-position: center 0;
    }
}
